<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DispatcherControllerServlet</servlet-name>
        <servlet-class>haun.controller.DispatcherControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherController</servlet-name>
        <servlet-class>haun.controller.DispatcherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>haun.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <servlet-class>haun.controller.CreateNewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionNameServlet</servlet-name>
        <servlet-class>haun.controller.SearchQuestionNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewQuestionServlet</servlet-name>
        <servlet-class>haun.controller.CreateNewQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>haun.controller.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <servlet-class>haun.controller.UpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartQuizServlet</servlet-name>
        <servlet-class>haun.controller.StartQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingServlet</servlet-name>
        <servlet-class>haun.controller.PagingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>haun.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishedServlet</servlet-name>
        <servlet-class>haun.controller.FinishedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextPageServlet</servlet-name>
        <servlet-class>haun.controller.NextPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousPageServlet</servlet-name>
        <servlet-class>haun.controller.PreviousPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>haun.controller.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveAccountServlet</servlet-name>
        <servlet-class>haun.controller.ActiveAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherControllerServlet</servlet-name>
        <url-pattern>/DispatcherControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherController</servlet-name>
        <url-pattern>/DispatcherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <url-pattern>/CreateNewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionNameServlet</servlet-name>
        <url-pattern>/SearchQuestionNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewQuestionServlet</servlet-name>
        <url-pattern>/CreateNewQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartQuizServlet</servlet-name>
        <url-pattern>/StartQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingServlet</servlet-name>
        <url-pattern>/PagingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishedServlet</servlet-name>
        <url-pattern>/FinishedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextPageServlet</servlet-name>
        <url-pattern>/NextPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPageServlet</servlet-name>
        <url-pattern>/PreviousPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveAccountServlet</servlet-name>
        <url-pattern>/ActiveAccountServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatcherController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>SE1404LAB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
